.create-dao {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;

}

.create-dao h2{
    margin-left: 40%;
    margin-bottom: 50px;
}

.create-dao input {
    margin: 10px 0 10px 0;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    width: 100%;
    padding: 0.8em;

}

.create-dao button{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.create-button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-left: 35%;

}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.create-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.create-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}